body {
	background-image: url("../images/taupe-wood-panel-main-144-144.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	

}

.jumbotron.text-center {
font-family: Blippo- fantasy;
color: yellow;
background-color: #B22525; 

}

.jumbrtron>hr {
	border-top-color: black;
}

.row {
	color: yellow;
	font-size: 25px;
}

