body {
	background-image: url("../images/taupe-wood-panel-main-144-144.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	

}

.jumbotron {
font-family: Blippo- fantasy;
color: #e0c8c8;
background-color: #962626;

	
}